div.district-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-3xs); 
    /* padding: var(--padding-md); */
    border: 4px solid var(--cards-border-color);
}

.home-container {
    width: 100%;
    height: 1200px;
}