.home-container {
  width: 100%;
  height: 100%;
}

.district-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-3xs);
  border: 4px solid var(--cards-border-color);
  position: fixed;
  top: 18%;
  left: 0;
  width: 100%;
}

.home-spinner-container {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-viz-legend-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 38;
  left: 0;
  width: 100%;
  height: 65%;
}

.home-viz-container {
  position: fixed;
  top: 40%;
  left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60%;
  overflow-y: auto;
}
