.home-container {
  width: 100%;
  height: 100%;  
}

.district-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;  
  align-items: center;
  margin-top: var(--spacing-3xs);  
  border: 4px solid var(--cards-border-color);
  position: fixed;
  top: 18%;
  left: 0;
  width: 100%;  
}

.home-spinner-container {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.nav-btn-container {
  position: fixed;
  top: 35%;
  left: 2.5%;
  margin: var(--margin-md);
  padding: var(--padding-md);
}

.home-download-buttons {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: var(--margin-md);
  padding: var(--padding-md);
  top: 35%;
  left: 38%;
}

.home-viz-container {
  position: fixed;
  top: 43%;
  left: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 58%;
  overflow-y: auto;
}


@media screen and (max-width: 1280px) {
  .district-cards-container {
    overflow-x: auto; /* Change to auto to only show scrollbar when needed */    
  }

  .district-cards-container::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }

  .district-cards-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }

  .district-cards-container::-webkit-scrollbar-thumb {
    background-color: var(--background-color-header); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Roundness of the scrollbar thumb */
  }

  .district-cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }


  .home-download-buttons {    
    top: 38%;    
    left: 33%;
  }
   
  .home-viz-container {  
    top: 47%;   
    height: 54%;
  }
}


