.home-container {
  width: 100%;
  height: 100%;
}

.home-spinner-container {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 18%;
  left: 0;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #d1d1d1;
  border-radius: 1em;
  top: 36.8%;
  left: 13%;
  width: 87%;
  height: 64%;
}

.nav-btn-container {
  position: fixed;
  top: 35%;
  left: 75%;
  margin: var(--margin-md);
  padding: var(--padding-md);
}

.home-download-buttons {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: var(--margin-md);
  padding: var(--padding-md);
  top: 35%;
  left: 38%;
}

.home-viz-container.css-0 {
  position: fixed;
  top: 43%;
  left: 13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 58%;
  overflow-y: auto;
}

@media screen and (max-width: 1280px) {
  .nav-btn-container {
    top: 36%;
    left: 8%;
  }

  .home-download-buttons {
    top: 36%;
    left: 55%;
  }

  .home-viz-container.css-0 {
    top: 47%;
    height: 54%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-btn-container {
    top: 36%;
    left: 58%;
  }

  .home-download-buttons {
    top: 36%;
    left: 15%;
 }


}

@media screen and (max-width: 914px) {
  .nav-btn-container {
    top: 32%;
    left: 2%;
  }

  .home-download-buttons {
    top: 32%;
    left: 48%;
  }
}

@media screen and (max-width: 912px) {
  .home-content-container {
    top: 31.8%;
  }

  .home-viz-container.css-0 {
    top: 40%;
  }
}

@media screen and (max-width: 853px) {
  .home-content-container {
    top: 32%;
    left: 0%;
  }
  .nav-btn-container {
    top: 32%;
    left: 25%;
  }

  .home-download-buttons {
    top: 38%;
    left: 25%;
  }

  .home-viz-container.css-0 {
    top: 44%;
    left: 3%;
  }
}

@media screen and (max-width: 768px) {
  .home-content-container {
    top: 33%;
    left: 13%;
    height: 67.5%;
  }
  .nav-btn-container {
    top: 31.5%;
    left: 25%;
  }

  .home-download-buttons {
    top: 38.2%;
    left: 25%;
  }

  .home-viz-container.css-0 {
    top: 46%;
    left: 13%;
  }
}

@media screen and (max-width: 720px) {
  .nav-btn-container {
    top: 31.5%;
    left: 25%;
  }

  .home-download-buttons {
    top: 38.2%;
    left: 25%;
  }
}

@media screen and (max-width: 540px) {
  .nav-btn-container {
    top: 34%;
    left: 12%;
  }

  .home-download-buttons {
    top: 40%;
    left: 12.6%;
  }
}

@media screen and (max-width: 412px) {
  .home-content-container {
    top: 32%;
    left: 0%;
    height: 100%;
  }
  .nav-btn-container {
    top: 32%;
    left: -3%;
  }

  .home-download-buttons {
    top: 38%;
    left: -3%;
  }
}
