.recharts-viz-container {        
    margin: var(--spacing-md);
    padding: var(--padding-md);
    border: 2px solid var(--cards-border-color);
    border-radius: var(--border-radius-md);
    width: 45%;       
}

h2 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-black);
    margin: var(--spacing-md);
    text-align: center;
 
}

.custom-tooltip {
    background-color: #F7B704;
    padding: var(--padding-md);
    border-radius: var(--border-radius-md);
    color: var(--font-color-black);
}

