div.header-container {
  background-image: url('../../assets/header.jpeg');
  background-size: cover;
  background-position:10% 82%;    
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 2000px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color-header);
  padding: var(--padding-xl);  
}

div.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  background-color: #0c5897;
  opacity: 0.8;
  /* background-color: rgba(68, 68, 171, 0.741);  */
  z-index: -1;
}


div.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-2xl);
  color: var(--font-color-white);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--spacing-3xs);
  padding-left: var(--padding-5xl);
  z-index: 2;
}

img.image-sun {
  width: 2.8rem;
  height: 2.8rem;
}

div.button-about-project {
  display: flex;  
  justify-content: flex-end;
  z-index: 2;

}


.invisible-spacer {
  width: 20px; /* Adjust the width as needed */
  height: 1px; /* Ensures that the spacer doesn't affect the layout vertically */
  visibility: hidden; /* Hides the spacer visually */
}