.header-container {
  background-image: url("../../assets/solar3.jpg");
  background-size: cover;
  background-position: 10% 73%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color-header);
  padding: var(--padding-xl);
}

.header-title h1 {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Aleo";
  font-size: clamp(0.75em, calc(1.386vw + 1.141rem), 2.25em);
  color: var(--font-color-white);
  font-weight: var(--font-weight-bold);
  line-height: clamp(2.25rem, calc(1.247vw + 1.927rem), 2.925rem);
}

.header-title img {
  width: 2.8rem;
  height: 2.8rem;
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0c5897;
  opacity: 0.7;
  z-index: -1;
}

.button-about-project {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 4%;
  right: 7%;
  width: 10rem;
}

p.about-text {
  font-size: var(--font-size-lg);
}

.invisible-spacer {
  width: 1.25em; /* Adjust the width as needed */
  height: 0.063em; /* Ensures that the spacer doesn't affect the layout vertically */
  visibility: hidden; /* Hides the spacer visually */
}

@media screen and (max-width: 1280px) {
  .header-title h1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  .header-title img {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.2rem;
  }

  .button-about-project {
    top: 2%;
    right: 2%;
  }

  p.about-text {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 1180px) {
  .header-title h1 {
    font-size: 2rem;
  }

  .header-title img {
    width: 2rem;
    height: 2.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .header-title h1 {
    font-size: 2rem;
  }

  .header-title img {
    width: 2rem;
    height: 2rem;
    padding-top: 0.2rem;
  }

  .button-about-project {
    top: 1%;
    right: 1%;
  }

  p.about-text {
    font-size: var(--font-size-xxs);
  }
}

@media screen and (max-width: 912px) {
  .header-title h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 820px) {
  .header-title h1 {
    font-size: 1.6rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 853px) {
  .header-title h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .header-title h1 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 540px) {
  .header-title h1 {
    font-size: 1rem;
  }
}
