div.header-container {
  background-image: url("../../assets/solar3.jpg");
  background-size: cover;
  background-position: 10% 73%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color-header);
  padding: var(--padding-xl);
}


div.header-title h1 {
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-4xl);
  color: var(--font-color-white);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--spacing-3xs);
}

div.header-title img {
  width: 2.8rem;
  height: 2.8rem;
}

div.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0c5897;
  opacity: 0.7;
  z-index: -1;
}

/* img.image-sun {
  width: 2.8rem;
  height: 2.8rem;
  padding-top: 0.4rem;
} */

/* .header-title h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */


div.button-about-project {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  top: 3%;
  right: 3%;
}

p.about-text {
  font-size: var(--font-size-lg);
}

.invisible-spacer {
  width: 20px; /* Adjust the width as needed */
  height: 1px; /* Ensures that the spacer doesn't affect the layout vertically */
  visibility: hidden; /* Hides the spacer visually */
}


@media screen and (max-width: 1280px) {
 
div.header-title h1 {
  font-size: 2.5rem;    
}

div.header-title img {
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.2rem;
}

div.button-about-project {
  top: 2%;
  right: 2%;
  }
  
  p.about-text {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 1024px) {
 
  div.header-title h1 {
    font-size: 2rem;      
  }
  
  div.header-title img {
    width: 2rem;
    height: 2rem;
    padding-top: 0.2rem;
  }
  
  div.button-about-project {
    top: 1%;
    right: 1%;
    }
    
    p.about-text {
      font-size: var(--font-size-xxs);
    }
  }