.main-body {
  max-width: 56.25em;
  font-size: 0.875em;
  color: rgb(98, 98, 98);
}

.main-body p {
  line-height: 1.3;
}

.main-body ul {
  line-height-step: 1.5;
}

.main-body h4 {
  color: var(--primary-color);
  padding-top: var(--padding-md);
}

.additional-resources {
  width: 100%;
  font-size: 0.875em;
  color: rgba(98, 98, 98);
  padding-top: var(--padding-md);
}

.additional-resources a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.additional-resources a:hover {
  color: (var(--theme-dark-green), 0%);
}

.additional-resources h4 {
  color: var(--primary-color);
}

.mainBodyTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 56.25em;
  font-size: 0.875em;
  color: rgb(98, 98, 98);
}

.mainBodyTeam p {
  line-height: 1.3;
}

.mainBodyTeam ul {
  line-height: 1.5;
}

.mainBodyTeam h4 {
  color: var(--primary-color);
}

.bioContainer {
  margin-bottom: 2.5em;
}

.logo {
  position: absolute;
  bottom: 18%;
  height: 1.25em;
}

.aboutBtn {
  position: fixed;
  right: 7%;
  top: 4%;
  background-color: var(--theme-olive);
  color: white;
  border: none;
  border-radius: 0.313em;
  padding: var(--padding-sm);
  cursor: pointer;
  transition: var(--theme-olive) 0.2s ease;
}

.aboutBtn:hover {
  cursor: pointer;
  background-color: (var(--theme-olive), 10%);
}

.buttonContainer {
  position: fixed;
  top: 6.875em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.infoButton {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.313em;
  border: 0.125em solid #0057b8;
  font-size: 1em;
  padding: 0.5em 0.625em;
  margin: 0 1.25em;
  max-width: 10.625em;
  background-color: white;
  color: #0057b8;
}
.infoButton:hover,
.infoButton.active {
  background: #0057b8;
  border: 0.125em solid white;

  color: white;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  background-color: var(--theme-olive);
  color: white;
  border: none;
  bottom: 11%;
  border-radius: 0.313em;
  padding: var(--padding-sm);
  margin-top: var(--padding-sm);
  cursor: pointer;
  transition: var(--theme-olive) 0.2s ease;
}

.closeBtn:hover {
  cursor: pointer;
  background-color: (var(--theme-olive), 10%);
}

.biography {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  width: 5.625em;
  height: 5.625em;
  border-radius: 50%;
  margin-right: 1.875em;
  margin-top: 1.25em;
  box-shadow: 0 0 0.625em rgb(23, 23, 127);
}

.biographyContent {
  flex: 1;
}

.bioContainer-member {
  display: flex;
  flex-direction: row;
  color: var(--font-color-black);
  margin-bottom: 1.25em;
}
.name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 1rem;
}

.role {
  font-size: 1rem;
  padding-left: var(--padding-md);
}

.linkedinLogo {
  width: 1.5rem;
  height: 1.5rem;
}

.biographyText {
  color: white;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.313em);
  z-index: 9999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(241, 241, 241);
  padding: 1.875em 2.5em;
  border-radius: 0.625em;
  max-width: 90%;
  min-width: 56.25em;
  max-height: 90%;
  min-height: 50em;
  overflow: auto;
  border: rgb(200, 200, 200) 0.063em solid;
  z-index: 99999;
}

@media screen and (max-width: 1368px) {
  .aboutBtn {
    height: 4%;
    top: 2%;
    right: 2%;
  }
}

@media screen and (max-width: 1180px) {
  .aboutBtn {
    height: 4%;
    top: 1%;
    right: 2%;
    font-size: small;
    padding: 0.3rem 0.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .aboutBtn {
    height: 4%;
    top: 1%;
    right: 2%;
    font-size: small;
    padding: 0.3rem 0.3rem;
  }
}

@media screen and (max-width: 932px) {
  .aboutBtn {
    height: 7%;
    width: 3.5%;
    top: 1%;
    right: 1%;
  }

  .info-icon {
    width: 1.2rem;
    height: 1.2rem;   
  }
}

@media screen and (max-width: 914px) {
  .aboutBtn {
    height: 8%;
    width: 4%;
    top: 1%;
    right: 1%;
  }

  .info-icon {
    width: 1.5rem;
    height: 1.5rem;   
  }
}

@media screen and (max-width: 912px) {
  .aboutBtn {
    height: 4.5%;
    width: 6.2%;
    top: 2%;
    right: 3%;
  }

  .info-icon {
    width: 2.5rem;
    height: 2.5rem;   
  }
}

@media screen and (max-width: 896px) {
  .aboutBtn {
    height: 7%;
    width: 3.5%;
    top: 1%;
    right: 1%;
  }

  .info-icon {
    width: 1.2rem;
    height: 1.2rem;   
  }
}


@media screen and (max-width: 882px) {
  .aboutBtn {
    height: 9%;
    width: 4%;
    top: 2%;
    right: 2%;
  }
}

@media screen and (max-width: 853px) {
  .aboutBtn {
    height: 4%;
    width: 5%;
    top: 2%;
    right: 3%;
  }
  .info-icon {
    width: 1.8rem;
    height: 1.8rem;   
  }

}

@media screen and (max-width: 768px) {
  .aboutBtn {
    height: 4%;
    width: 5%;
    top: 2%;
    right: 2%;
  }

  .info-icon {
    width: 1.6rem;
    height: 1.6rem;   
  }
}

@media screen and (max-width: 740px) {
  .aboutBtn {
    height: 8.2%;
    width: 4.5%;
    top: 2%;
    right: 2%;
  }

  .info-icon {
    width: 1.4rem;
    height: 1.4rem;   
  }
}

@media screen and (max-width: 720px) {
  .aboutBtn {
    height: 5.4%;
    width: 4.8%;
    top: 2%;
    right: 3%;
  }
}
@media screen and (max-width: 667px) {
  .aboutBtn {
    height: 7.5%;
    width: 5%;
    top: 2%;
    right: 2%;
  }

  .info-icon {
    width: 1.3rem;
    height: 1.3rem;   
  }
}


@media screen and (max-width: 540px) {
  .aboutBtn {
    height: 4.5%;
    width: 6%;
    top: 2%;
    right: 3%;
  }
}
@media screen and (max-width: 480px) {
  .aboutBtn {
    height: 4%;
    width: 8%;
    top: 2%;
    right: 3%;
  }
}

@media screen and (max-width: 375px) {
  .aboutBtn {
    height: 5%;
    width: 8%;
    top: 2%;
    right: 3%;
  }

  .info-icon {
    width: 1.3rem;
    height: 1.3rem;   
  }
}
